*,
*::before,
*::after {
  box-sizing: border-box; }

* {
  margin: 0;
  padding: 0; }

html,
body {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth; }

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: 'DM Sans', sans-serif;
  overflow-x: hidden;
  background-color: #000000;
  position: relative;
  height: 100vh;
  transition: background-color .5s ease; }

::-webkit-scrollbar {
  display: none; }

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%; }

input,
button,
textarea,
select {
  font: inherit; }

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word; }

#root,
#__next {
  isolation: isolate; }

link {
  display: inline-block; }

.load {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f5f5f5;
  color: #000000;
  font-size: 2.5rem;
  background-color: #000000;
  background-color: #f5f5f5;
  text-align: center;
  position: absolute;
  animation: colorChange 1s ease forwards 2.25s, hideStuff .1s ease forwards 5s; }
  .load_con {
    font-weight: 100;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: sideways .5s ease forwards 2s, hideStuff 1s ease forwards 4s; }
    .load_con--name {
      opacity: 0;
      animation: loadDown .75s ease-out forwards .25s; }
    .load_con--title {
      margin-left: 5px;
      opacity: 0;
      animation: loadUp .75s ease-out forwards 1s; }

.conb {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0; }
  .conb_bg {
    width: 85%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0;
    animation: showStuff .1s ease forwards 4.2s; }
    .conb_bg--line {
      height: 100%;
      width: .5px;
      background-color: #4a4949;
      transform-origin: top;
      transform: scaleY(0%);
      opacity: .75;
      animation: lineShow 1.5s ease-out forwards 4.5s, opacityLow 1s ease forwards 8s; }
      .conb_bg--line:nth-child(2) {
        animation: lineShow 1.5s ease-out forwards 4.75s, opacityLow 1s ease forwards 8s; }
      .conb_bg--line:nth-child(3) {
        animation: lineShow 1.5s ease-out forwards 5s, opacityLow 1s ease forwards 8s; }
      .conb_bg--line:nth-child(4) {
        animation: lineShow 1.5s ease-out forwards 5.25s, opacityLow 1s ease forwards 8s; }
      .conb_bg--line:nth-child(5) {
        animation: lineShow 1.5s ease-out forwards 5.5s, opacityLow 1s ease forwards 8s; }
      .conb_bg--line:nth-child(6) {
        animation: lineShow 1.5s ease-out forwards 5.75s, opacityLow 1s ease forwards 8s; }
      .conb_bg--line:nth-child(7) {
        animation: lineShow 1.5s ease-out forwards 6s, opacityLow 1s ease forwards 8s; }
      .conb_bg--line:nth-child(8) {
        animation: lineShow 1.5s ease-out forwards 6.25s, opacityLow 1s ease forwards 8s; }
      .conb_bg--line:nth-child(9) {
        animation: lineShow 1.5s ease-out forwards 6.5s, opacityLow 1s ease forwards 8s; }
      .conb_bg--line:nth-child(10) {
        animation: lineShow 1.5s ease-out forwards 6.75s, opacityLow 1s ease forwards 8s; }

.landing-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.nav {
  overflow: hidden;
  width: 85%;
  height: 100px;
  transition: all 1s ease !important;
  color: #f5f5f5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
  position: fixed;
  top: 25px;
  opacity: 0;
  animation: loadDown 1s ease forwards 8.5s;
  background: rgba(113, 112, 112, 0.13);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(3.9px);
  padding: 0px 10px; }
  .nav_con {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .nav_logo {
    font-size: 3.5rem;
    font-weight: 800; }
  .nav_menu {
    width: 50px;
    height: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer; }
    .nav_menu--line {
      width: 100%;
      height: 2.5px;
      background: #f5f5f5;
      transition: all .5s ease; }
  .nav_lc--mode-btn {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: none;
    cursor: pointer; }
    .nav_lc--mode-btn:nth-child(2) {
      display: none; }
  .nav_content {
    width: 100%;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: none;
    transition: display 1s ease; }
    .nav_content_m {
      width: 100%;
      height: 80%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      gap: 20px; }
      .nav_content_m > a, .nav_content_m > a:active, .nav_content_m > a:focus {
        color: #f5f5f5;
        letter-spacing: 3px;
        font-size: 4rem;
        font-weight: 800;
        text-decoration: none;
        position: relative;
        opacity: 0;
        transition: all 1s ease;
        text-transform: uppercase; }
        .nav_content_m > a:hover > .nav-line, .nav_content_m > a:active:hover > .nav-line, .nav_content_m > a:focus:hover > .nav-line {
          transform: scaleX(100%); }
    .nav_content_l {
      width: 100%;
      height: 20%;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .nav_content_l #nav_content_l-icons {
        width: 125px;
        height: 75px;
        justify-content: start; }

.hero {
  margin-top: 170px;
  color: #000000;
  color: #f5f5f5;
  width: 85%;
  height: 82.25%;
  z-index: 2;
  overflow: hidden; }
  .hero_name {
    height: 7.5%;
    font-size: 1.75rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-left: 25px;
    margin-bottom: -25px;
    font-weight: 100;
    display: flex;
    align-items: flex-end;
    background-image: linear-gradient(90deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0;
    animation: loadDown 1s ease forwards 9.75s; }
  .hero_title {
    overflow: hidden;
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'DM Sans', sans-serif; }
    .hero_title > h1 {
      font-size: 18rem;
      letter-spacing: 12px;
      font-weight: 800;
      opacity: 0;
      animation: loadLeft 1s ease forwards 9.75s; }
    .hero_title > h2 {
      font-size: 12rem;
      margin-top: -50px;
      opacity: 0;
      animation: loadRight 1s ease forwards 9.75s; }
  .hero_footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 0px 25px;
    height: 10%;
    font-family: 'DM Sans', sans-serif;
    margin-top: 50px; }
    .hero_footer__left {
      display: flex;
      font-size: 2rem;
      color: #797777;
      font-weight: 100;
      gap: 5px;
      opacity: 0;
      animation: loadUp .75s ease forwards 9.75s; }
    .hero_footer__right {
      align-self: flex-end;
      padding-right: 50px;
      opacity: 0;
      animation: loadUp .75s ease forwards 9.75s; }
      .hero_footer__right--resume {
        display: flex;
        flex-direction: column;
        border: none;
        margin: 0;
        background: none;
        font-size: 3rem;
        font-weight: 100;
        color: #797777;
        padding-bottom: -100px;
        cursor: pointer; }
        .hero_footer__right--resume > a {
          color: #797777;
          text-decoration: none;
          transition: all .5s ease; }
        .hero_footer__right--resume:hover, .hero_footer__right--resume:hover > a {
          background-image: linear-gradient(90deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent; }
        .hero_footer__right--resume:hover > .line {
          margin-top: -7px;
          transform: scaleX(100%);
          background-image: linear-gradient(90deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%); }

.about {
  width: 100%;
  padding: 25px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f5f5f5;
  z-index: 10;
  display: none;
  opacity: 0; }
  .about__me {
    cursor: pointer;
    margin-top: 100px;
    text-align: left; }
    .about__me--p {
      font-size: 4rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: left; }
    .about__me--link {
      height: 40px;
      margin-top: 50px;
      cursor: pointer; }
      .about__me--link-btn {
        font-weight: 800;
        transition: all .5s ease; }
        .about__me--link-btn:hover {
          transform: translateY(-5px); }

.projects {
  position: relative;
  margin-top: 175px;
  color: #f5f5f5;
  z-index: 2;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;
  display: none; }
  .projects__title {
    font-size: 6rem;
    font-weight: 800;
    text-transform: uppercase;
    color: #7743DB;
    background-image: linear-gradient(90deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  .projects__con {
    margin-top: 70px;
    width: 85%; }
    .projects__con_f {
      display: flex;
      gap: 20px;
      justify-content: flex-end; }
      .projects__con_f--stats {
        font-weight: 800;
        font-size: 2rem; }
        .projects__con_f--stats-f {
          font-weight: 100; }
      .projects__con_f--img {
        width: 450px;
        height: 400px;
        border-radius: 5px;
        transition: all 1s ease; }
        .projects__con_f--img:hover {
          transform: scale(1.05); }
    .projects__con_s {
      display: flex;
      gap: 20px; }

.contact {
  position: relative;
  margin-top: 150px;
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  color: #f5f5f5;
  z-index: 2;
  display: none; }
  .contact_con {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .contact_con > h3 {
      font-size: 2rem;
      font-weight: 300; }

.footer {
  position: relative;
  z-index: 2;
  margin-top: 200px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none; }
  .footer__con {
    width: 300px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; }
    .footer__con > a {
      transition: all .5s ease;
      font-size: 3rem; }
      .footer__con > a:hover {
        transform: scale(1.2); }
    .footer__con-icon {
      width: 35px;
      height: 35px;
      fill: #f5f5f5;
      transition: fill .5s ease; }

.content-display {
  display: flex; }

.menu-active {
  height: 92.5vh;
  position: absolute;
  transition: all 1s ease;
  backdrop-filter: blur(60px); }

.body-menu-active {
  height: 100vh !important;
  overflow: hidden; }

.body-load {
  height: auto; }

#contact-link {
  margin-top: -5px;
  font-size: 8rem; }
  #contact-link > button {
    font-size: 10rem; }

.divider {
  background-image: linear-gradient(90deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.aboutWord {
  color: #7743DB;
  background-image: linear-gradient(90deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 800;
  text-decoration: underline;
  transition: all 1s ease; }

.nav-line {
  height: 2px;
  width: 100%;
  background: white;
  position: absolute;
  bottom: 5px;
  left: 0px;
  transform: scaleX(0%);
  transition: all .2s ease;
  transform-origin: left; }

.line {
  width: 100%;
  height: 2px;
  background-image: linear-gradient(90deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%);
  margin-top: -10px;
  transform-origin: left;
  transform: scaleX(0%);
  transition: all .2s ease; }

.sun {
  width: 30px;
  height: 30px;
  fill: #f5f5f5;
  pointer-events: none; }

.moon {
  width: 40px;
  height: 40px;
  fill: #000000;
  pointer-events: none; }

.arrow {
  width: 40px;
  height: 40px;
  fill: #797777;
  animation: scroll 1s ease infinite 0s; }

.light-mode {
  color: #000000;
  transition: color 1s ease; }

.dark-mode {
  color: #f5f5f5;
  transition: color 1s ease; }

.menu-f-animation {
  transform: rotate(40deg) translateX(10px) scale(0.75); }

.menu-s-animation {
  transform: rotate(-40deg) translateX(10px) scale(0.75); }

@keyframes insideLeft {
  0% {
    transform: translateX(-1500px);
    opacity: 1; }
  45% {
    transform: translateX(-1500px);
    opacity: 1; }
  75% {
    transform: translateX(30px);
    opacity: 1; }
  100% {
    transform: translateX(0px);
    opacity: 1; } }

@keyframes insideRight {
  0% {
    transform: translateX(1500px);
    opacity: 1; }
  45% {
    transform: translateX(1500px);
    opacity: 1; }
  75% {
    transform: translateX(-30px);
    opacity: 1; }
  100% {
    transform: translateX(0px);
    opacity: 1; } }

@keyframes leaveLeft {
  0% {
    transform: translateX(0px); }
  45% {
    transform: translateX(0px); }
  75% {
    transform: translateX(30px); }
  100% {
    transform: translateX(-1500px); } }

@keyframes leaveRight {
  0% {
    transform: translateX(0px); }
  45% {
    transform: translateX(0px); }
  75% {
    transform: translateX(-30px); }
  100% {
    transform: translateX(1500px); } }

@keyframes loadDown {
  0% {
    transform: translateY(-20px);
    opacity: 0; }
  75% {
    transform: translateY(5px);
    opacity: 1; }
  100% {
    transform: translateY(0px);
    opacity: 1; } }

@keyframes loadUp {
  0% {
    transform: translateY(20px);
    opacity: 0; }
  75% {
    transform: translateY(-5px);
    opacity: 1; }
  100% {
    transform: translateY(0px);
    opacity: 1; } }

@keyframes loadLeft {
  0% {
    transform: translateX(-100px);
    opacity: 0; }
  75% {
    transform: translateX(5px);
    opacity: 1; }
  100% {
    transform: translateX(0px);
    opacity: 1; } }

@keyframes loadRight {
  0% {
    transform: translateX(100px);
    opacity: 0; }
  75% {
    transform: translateX(-5px);
    opacity: 1; }
  100% {
    transform: translateX(0px);
    opacity: 1; } }

@keyframes scroll {
  0% {
    transform: translateY(0px); }
  100% {
    transform: translateY(25px); } }

@keyframes sideways {
  0% {
    transform: rotate(0deg); }
  50% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(-5deg); } }

@keyframes hideStuff {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes showStuff {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes colorChange {
  0% {
    background-color: #f5f5f5;
    color: #000000; }
  80% {
    background-color: #f5f5f5;
    color: #000000; }
  100% {
    background-color: #000000;
    color: #f5f5f5; } }

@keyframes lineShow {
  0% {
    transform: scaleY(0%); }
  100% {
    transform: scaleY(100%); } }

@keyframes opacityLow {
  0% {
    opacity: 0.75; }
  100% {
    opacity: 0.5; } }

@media screen and (max-width: 650px) {
  .load_con {
    flex-direction: column; }
  .nav {
    width: 100%; }
  .hero {
    margin-top: 270px; }
    .hero_name {
      height: 7.5%;
      font-size: 1.2rem;
      padding-left: 5px;
      margin-bottom: 0px; }
    .hero_title {
      width: 100%;
      gap: 30px; }
      .hero_title > h1 {
        font-size: 6rem;
        letter-spacing: 0px; }
      .hero_title > h2 {
        font-size: 4.5rem; }
    .hero_footer {
      margin-top: 50px;
      padding: 5px; }
      .hero_footer__left {
        font-size: 1.5rem; }
      .hero_footer__right {
        align-self: center;
        padding-right: 0px; }
        .hero_footer__right--resume {
          font-size: 2.5rem; }
  .about__me--p {
    font-size: 3rem;
    text-align: center; }
  .about__me--link {
    display: flex;
    justify-content: center; }
  .projects {
    margin-top: 50px;
    text-align: center;
    flex-direction: column;
    padding: 10px; }
    .projects__title {
      font-size: 3rem; }
    .projects__con_f {
      flex-direction: column;
      justify-content: flex-end; }
      .projects__con_f--img {
        width: 100%;
        height: auto; }
    .projects__con_s {
      flex-direction: column-reverse;
      gap: 20px; }
  .footer {
    margin-top: 100px; }
    .footer__con {
      align-items: center;
      display: flex; }
      .footer__con > a {
        font-size: 1.75rem;
        margin-bottom: 0px; }
      .footer__con-icon {
        width: 22.5px;
        height: 22.5px; }
  .contact {
    margin-top: 100px; }
  #contact-link > button {
    font-size: 5rem; }
  .arrow {
    width: 30px;
    height: 30px; } }
